DRONE_POOL_MIN={{ scaler_pool_min }}
DRONE_POOL_MAX={{ scaler_pool_max }}
DRONE_POOL_MIN_AGE={{ scaler_pool_ttl }}
DRONE_INTERVAL={{ scaler_interval }}
DRONE_SERVER_HOST={{ scaler_server_host }}
DRONE_SERVER_PROTO={{ scaler_server_proto }}
DRONE_SERVER_TOKEN={{ scaler_server_token }}
DRONE_AGENT_HOST={{ scaler_domain }}:9000
DRONE_AGENT_TOKEN={{ scaler_agent_token }}
DRONE_AGENT_IMAGE={{ scaler_agent_image }}
DRONE_AGENT_CONCURRENCY={{ scaler_agent_concurrency }}
DRONE_HTTP_HOST={{ scaler_domain }}
DRONE_HTTP_ROOT={{ scaler_root }}
DRONE_PROMETHEUS_AUTH_TOKEN={{ scaler_prometheus_token }}
DRONE_DATABASE_DRIVER={{ scaler_db_driver }}
DRONE_DATABASE_DATASOURCE={{ scaler_db_datasource }}
DRONE_LICENSE={{ scaler_license }}
DRONE_SLACK_WEBHOOK={{ scaler_slack_webhook }}
DRONE_HETZNERCLOUD_DATACENTER={{ scaler_hetzner_datacenter }}
DRONE_HETZNERCLOUD_IMAGE={{ scaler_hetzner_image }}
DRONE_HETZNERCLOUD_TOKEN={{ scaler_hetzner_token }}
DRONE_HETZNERCLOUD_TYPE={{ scaler_hetzner_type }}
DRONE_HETZNERCLOUD_USERDATA_FILE=/etc/scaler/userdata.yml
DRONE_LOGS_COLOR=false
DRONE_LOGS_PRETTY=true
ENABLE_MATRIX_CALC=true
DRONE_ENABLE_PINGER=true
DRONE_ENABLE_REAPER=true
