[Unit]
Description=Scaler

Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull {{ scaler_image }}
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --label traefik.enable=true \
  --label traefik.docker.network=traefik \
  --label traefik.port=8080 \
  --label traefik.frontend.passHostHeader=true \
  --label traefik.frontend.rule=Host:{{ scaler_domain }}{% if scaler_root != "/" %};PathPrefix:{{ scaler_root }}{% endif %} \
  --label traefik.frontend.headers.forceSTSHeader=true \
  --label traefik.frontend.headers.STSIncludeSubdomains=false \
  --label traefik.frontend.headers.STSPreload=true \
  --label traefik.frontend.headers.STSSeconds=315360000 \
  --label traefik.frontend.headers.referrerPolicy=strict-origin-when-cross-origin \
  --label traefik.frontend.headers.customFrameOptionsValue=SAMEORIGIN \
  --label traefik.frontend.headers.browserXSSFilter=true \
  --label traefik.frontend.headers.contentTypeNosniff=true \
  --env-file /etc/default/scaler \
  --network traefik \
  --volume /etc/ssl:/etc/ssl:ro \
  --volume /etc/scaler/id_rsa:/root/.ssh/id_rsa:ro \
  --volume /etc/scaler:/etc/scaler \
  --volume /var/lib/scaler:/var/lib/autoscaler \
  --health-cmd 'wget --quiet --spider http://localhost:8080{% if scaler_root != "/" %}{{ scaler_root }}{% endif %}/healthz' \
  --health-interval 10s \
  --health-retries 20 \
  --health-timeout 10s \
  {{ scaler_image }}

[Install]
WantedBy=multi-user.target
