MARIADB_ROOT_PASSWORD={{ mariadb_root_password }}
MARIADB_USERNAME={{ mariadb_general_username }}
MARIADB_PASSWORD={{ mariadb_general_password }}
MARIADB_DATABASE={{ mariadb_general_db }}
MARIADB_MAX_ALLOWED_PACKET=128M
MARIADB_INNODB_LOG_FILE_SIZE=64M
MARIADB_INNODB_BUFFER_POOL_SIZE=1G
MARIADB_INNODB_LARGE_PREFIX=ON
MARIADB_INNODB_FILE_FORMAT=Barracuda
MARIADB_LOG_BIN=0
CRON_ENABLED=false
