[agent]
  interval = "{{ telegraf_interval }}"
  round_interval = {{ telegraf_round_interval | lower }}
  metric_batch_size = {{ telegraf_metric_batch_size }}
  metric_buffer_limit = {{ telegraf_metric_buffer_limit }}
  collection_jitter = "{{ telegraf_collection_jitter }}"
  flush_interval = "{{ telegraf_flush_interval }}"
  flush_jitter = "{{ telegraf_flush_jitter }}"
  precision = "{{ telegraf_precision }}"
  debug = {{ telegraf_debug | lower }}
  quiet = {{ telegraf_quiet | lower }}
  logfile = "{{ telegraf_logfile }}"
  hostname = "{{ telegraf_hostname }}"
  omit_hostname = {{ telegraf_omit_hostname | lower }}

[[outputs.prometheus_client]]
  listen = "{{ telegraf_prometheus_listen }}"
  basic_username = "{{ telegraf_prometheus_username }}"
  basic_password = "{{ telegraf_prometheus_password }}"

[[inputs.diskio]]
  # no configuration

[[inputs.kernel]]
  # no configuration

[[inputs.mem]]
  # no configuration

[[inputs.processes]]
  # no configuration

[[inputs.swap]]
  # no configuration

[[inputs.system]]
  # no configuration

[[inputs.kernel_vmstat]]
  # no configuration

[[inputs.linux_sysctl_fs]]
  # no configuration

[[inputs.netstat]]
  # no configuration

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs"]

[[inputs.conntrack]]
  dirs = ["/proc/sys/net/netfilter"]

[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  timeout = "5s"
  perdevice = true
  total = true

[[inputs.filestat]]
  files = ["/var/log/**.log"]

[[inputs.ping]]
  count = 3
  ping_interval = 1.0
  timeout = 1.0
  deadline = 10
  urls = ["google.de"]

{% for item in telegraf_inputs %}
{% if item.type == "redis" %}
[[inputs.redis]]
  servers = ["{{ item.servers | join('", "') }}"]
{% endif %}
{% if item.type == "mysql" %}
[[inputs.mysql]]
  servers = ["{{ item.servers | join('", "') }}"]
  metric_version = 2
{% endif %}

{% endfor %}
