{
  "auths": {
    {% for registry in docker_registries %}
      "{{ registry.url }}": {
        "auth": "{{ registry.auth | b64encode }}",
        "email": "{{ registry.email | default("") }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  }
}
