[Unit]
Description=DockerHub Exporter

Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull tboerger/dockerhub-exporter:latest
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --label traefik.enable=false \
  --env-file /etc/default/dockerhub-exporter \
  --network traefik \
  --volume /etc/ssl:/etc/ssl:ro \
  --health-cmd 'wget -q -O /dev/null http://localhost:9105/metrics/' \
  --health-interval 30s \
  --health-retries 5 \
  --health-timeout 10s \
  --publish 9105:9105 \
  tboerger/dockerhub-exporter:latest \
  -dockerhub.org {{ dockerhub_exporter_orgs | join(',') }}

[Install]
WantedBy=multi-user.target
