DATABASE_DRIVER={{ drone_db_driver }}
DATABASE_CONFIG={{ drone_db_config }}

DRONE_PROMETHEUS_AUTH_TOKEN={{ drone_prometheus_token }}

DRONE_LICENSE={{ drone_license }}
DRONE_HOST=https://{{ drone_domain }}
DRONE_SECRET={{ drone_secret }}
DRONE_DEBUG={{ drone_debug | lower }}
DRONE_OPEN={{ drone_open | lower }}
DRONE_ORGS={{ drone_orgs | join(",") }}
DRONE_ADMIN={{ drone_admins | join(",") }}
DRONE_REPO_WHITELIST={{ drone_whitelist | join(",") }}
DRONE_ESCALATE={{ drone_escalate | join(",") }}
DRONE_VOLUME=/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro

{% if drone_github | default(False) %}
DRONE_GITHUB=true
DRONE_GITHUB_CLIENT={{ drone_github_client }}
DRONE_GITHUB_SECRET={{ drone_github_secret }}
{% endif %}

{% if drone_bitbucket | default(False) %}
DRONE_BITBUCKET=true
DRONE_BITBUCKET_CLIENT={{ drone_bitbucket_client }}
DRONE_BITBUCKET_SECRET={{ drone_bitbucket_secret }}
{% endif %}
